// Place all the styles related to the Public/items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.cart-btn {
  background-color:#28a745;
  color: white;
  border-radius : 10%;
  transition    : .3s;
  border        : 2px solid #28a745;
}