<table>
  <tr>
    <h1>About</h1>
  </tr>
  <tr>
    <th>
      ながのCAKEは全国発送可能なケーキ屋さんです<br>
      お子様からお年寄りの方までお召し上がりいただけるよう、<br>
      様々なバリエーションをご用意しております。<br>
      また、全国へ発送可能ですので「いつ」でも「どこ」でもご注文いただけます。<br>
      ぜひご注文ください。
    </th>
  </tr>
  <tr>
    <td>※画像※</td>
  </tr>
</table>